@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansMedium';
}
textarea{
    width:100%;
}
input[type=submit],
button[type=submit],
button[type=reset]{
    margin-top:10px;
}
a{
    color:inherit;
    text-decoration:none;
}
.footer{
    color:white;
    text-shadow: 2px 2px 5px rgb(0,0,0,0.6);
}