<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
    <th:block layout:fragment="title">
        <title>질문리스트</title>
    </th:block>
    <th:block layout:fragment="content">
        <table class="table">
            <thead class="bg-info text-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
                <th>생성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop:${pagingList}">
                <td>
                    [[${question.id}]]
                </td>
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}">[[${question.subject}]]</a>
                </td>
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}">[[${question.content}]]</a>
                </td>
                <td th:text="${#temporals.format(question.createDate,'YY-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${pagingList}">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item" th:classappend="${pagingNum == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/list/${order}/${pagingNum-5}|}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(pagingNum, pagingNum+4)}" th:classappend="${pagingList.number == page-1} ? 'active'">
                    <a class="page-link" th:href="@{|/question/list/${order}/${page}|}">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${pagingNum > pagingList.totalPages - 5} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/list/${order}/${pagingNum+5}|}">Next</a>
                </li>
            </ul>
        </nav>
        <a class="btn btn-info text-light" th:href="@{/question/create}">질문 등록</a>
    </th:block>
</html>