<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
    <th:block layout:fragment="title">
        <title>질문리스트</title>
    </th:block>
    <th:block layout:fragment="content">
        <table class="table">
            <thead class="bg-info text-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
                <th>생성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop:${questionList}">
                <td>
                    [[${question.id}]]
                </td>
                <td>
                    <a th:href="@{/question/detail/{id}(id=${question.id})}">[[${question.subject}]]</a>
                </td>
                <td>
                    <a th:href="@{/question/detail/{id}(id=${question.id})}">[[${question.content}]]</a>
                </td>
                <td th:text="${#temporals.format(question.createDate,'YY-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
        <ul class="list-unstyled d-flex gap-3">
            <a th:href="@{/question/list/{page}(page=${pageNum == 0} ? 0 : ${pageNum-5})}">이전</a>
            <li th:each="number : ${#numbers.sequence(pageNum, pageNum+4)}">
                <a th:href="@{|/question/list/${number}|}">[[${number+1}]]</a>
            </li>
            <a th:href="@{/question/list/{page}(page=${pageNum+5})}">다음</a>
        </ul>
        <a class="btn btn-info text-light" th:href="@{/question/create}">질문 등록</a>
    </th:block>
</html>