<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">
    <th:block layout:fragment="title">
        <title>질문리스트</title>
    </th:block>
    <th:block layout:fragment="content">
        <table class="table">
            <thead class="bg-info text-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
                <th>생성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop:${questionList}">
                <td>
                    [[${loop.count}]] / [[${loop.size}]]
                </td>
                <td>
                    <a th:href="@{/question/detail/{id}(id=${question.id})}">[[${question.subject}]]</a>
                </td>
                <td>
                    <a th:href="@{/question/detail/{id}(id=${question.id})}">[[${question.content}]]</a>
                </td>
                <td th:text="${#temporals.format(question.createDate,'YY-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-info text-light" th:href="@{/question/create}">질문 등록</a>
    </th:block>
</html>