<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate = "~{layout}">
<th:block layout:fragment="title">
    <title th:text="${question} ? ${question.id} : ${question_id}"></title>
</th:block>
<th:block layout:fragment="content">
    <h1 class="border-bottom py-3 mb-3">질문 수정</h1>
    <form th:action="@{/question/doModify/{id}(id=${question} ? ${question.id} : ${question_id})
    }" method="post" th:object="${questionForm}">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label class="form-label"><h5>질문</h5></label>
            <input type="text" class="form-control" name="subject" th:value="${question} ? ${question.subject} : ${questionForm.subject}" autofocus/>
        </div>
        <div class="mb-3">
            <label class="form-label"><h5>내용</h5></label>
            <textarea class="form-control" cols="15" rows="10" name="content" th:text="${question} ? ${question.content} : ${questionForm.content}"></textarea>
        </div>
        <button class="btn btn-info text-light" type="submit">질문 수정</button>
        <button class="btn btn-info text-light" type="reset">초기화</button>
    </form>
</th:block>
</html>