<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">
    <th:block layout:fragment="title">
        <title>질문 생성</title>
    </th:block>
    <th:block layout:fragment="content">
        <h2 class="mb-3 py-3 border-bottom">질문 생성</h2>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div th:if="${error_msg != null}" class="alert alert-danger d-flex align-items-center mb-0" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div th:text="${error_msg}">
            </div>
        </div>
        <form th:action="@{/question/doCreate}" method="post">
            <label for="subject"></label>
            <input type="text" name="subject" placeholder="제목을 입력해주세요." class="form-control" th:value="${questionForm?.subject}">
            <label for="content"></label>
            <textarea name="content" cols="15" rows="10" class="form-control"  placeholder="내용을 입력해주세요." th:text="${questionForm?.content}"></textarea>
            <button type="submit" class="btn btn-info text-light">질문 등록</button>
            <button type="reset" class="btn btn-info text-light">초기화</button>
        </form>
    </th:block>
</html>