<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
  <th:block layout:fragment="title">
    <title>[[${question.id}]]번 게시글</title>
  </th:block>
  <th:block layout:fragment="content">
    <div class="d-flex border-bottom mb-3 py-4">
      <h1 class="m-0" th:text="${question.subject}"></h1>
      <div class="flex-grow-1"></div>
      <div class="d-flex flex-column justify-content-center">
        <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-info text-light" th:text="@{수정하기}"></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-text" style="white-space:pre-line;" th:text="${question.content}"></div>
        <div class="card-text d-flex justify-content-end">
          <span class="badge bg-light text-dark p-2" th:text="${#temporals.format(question.createDate, 'YY-MM-dd HH:mm')}"></span>
        </div>
      </div>
    </div>
    <h4 th:text="@{|${#lists.size(question.answerList)}개의 답변이 있습니다.|}" class="border-bottom py-3"></h4>
    <div class="card mb-3" th:each="answer, loop:${question.answerList}">
      <div class="card-body">
        <div class="card-text" th:text="${answer.content}" style="white-space:pre-line;"></div>
        <div class="car-text d-flex justify-content-end mb-2">
          <div class="badge text-light bg-info">
            <a th:href="@{|/answer/delete/${question.id}/${answer.id}|}" th:text="@{삭제}"></a>
          </div>
        </div>
        <div class="card-text d-flex justify-content-end">
          <div class="badge text-dark bg-light p-2" th:text="${#temporals.format(answer.createDate, 'YY-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>

    <form th:action="@{/answer/create/{id}(id=${question.id})}" method="post" th:object="${answerForm}">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger d-flex align-items-center mb-3" role="alert">
        <div th:each="error : ${#fields.allErrors()}" class="d-flex gap-2">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div th:text="${error}">
          </div>
        </div>
      </div>
      <textarea row="5" placeholder="내용을 입력해주세요."  class="form-control" th:field="*{content}"></textarea>
      <button type="submit" class="btn btn-info text-light">답변등록</button>
      <button type="reset" class="btn btn-info text-light">초기화</button>
    </form>
  </th:block>
</html>